body {
	background-color: rgb(200, 250, 230);
}
.h1-wrapper {
	font-family: Ubuntu;
	color: white;
	margin-top: 30px;
	margin-right: 500px;
	margin-left: 500px;
	margin-bottom: 30px;
	text-shadow: 1px 1px black;
	background-color: rgb(100, 200, 200);
	border: 1px solid;
	border-radius: 20px;
}

.ProfilePic {
	height: 30%;
	width: 10%;
	position: absolute;
	margin: 100px, 100px, 100px, 100px;
	padding-left: 50px;
	padding-right: 50px;
}

.intro {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 20px;
	line-height: 32.36px;
	background-color: rgb(100, 200, 300);
	border: 1px solid;
	border-radius: 20px;
	position: relative;
	margin-left: 250px;
	margin-right: 200px;
	margin-top: 60px;

}