/*Paralax Effect*/
/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
 	margin-bottom: 40px;
 	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 20px;
	line-height: 32.36px;
}
section.module p {
  margin-bottom: 40px;
  margin-left: 200px;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("http://eskipaper.com/images/light-blue-background-1.jpg");
}
section.module.parallax-2 {
  background-image: url("http://www.nordicfashionassociation.com/sites/default/files/styles/background/public/simple-blue-background.jpg");
}
section.module.parallax-3 {
  background-image: url("http://www.lettersmarket.com/uploads/lettersmarket/demo/background_gradient_basic/background_gradient_blue_04/background_gradient_blue_04_jpg_max.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

/*End of Parallax Effect*/




body {
	background-color: rgb(200, 250, 230);
}
.h1-wrapper {
	font-family: Ubuntu;
	color: white;
	margin-top: 30px;
	margin-right: 500px;
	margin-left: 500px;
	margin-bottom: 30px;
	text-shadow: 1px 1px black;
	background-color: rgb(100, 200, 200);
	border: 1px solid;
	border-radius: 20px;
}

.ProfilePic {
	height: 30%;
	width: 10%;
	position: absolute;
	margin: 100px, 100px, 100px, 100px;
	padding-left: 50px;
	padding-right: 50px;
}

/*.intro {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 20px;
	line-height: 32.36px;
	background-color: rgb(100, 200, 300);
	border: 1px solid;
	border-radius: 20px;
	position: relative;
	margin-left: 250px;
	margin-right: 200px;
	margin-top: 60px;

} */